Repository chaos-mesh/website, pull requests merged in 2021-08, with the labels that each got.

#106 docs: add a domument for simulate process faults
  docs/simulate-process-chaos-in-physical-nodes.md
Labels: contribution, docs, first-time-contributor, size/L, status/LGT1, status/can-merge

#102 docs: add simulate disk faults.md
  docs/simulate-disk-pressure-in-physical-nodes.md
Labels: contribution, docs, first-time-contributor, size/L, status/LGT1, status/can-merge

#107 Docs: add a document for stress simulation
  docs/simulate-heavy-stress-in-physical-nodes.md
Labels: contribution, docs, first-time-contributor, size/L, status/LGT1, status/can-merge

#109 docs: add simulate-pod-chaos-on-kubernetes.md
  docs/simulate-pod-chaos-on-kubernetes.md
Labels: contribution, docs, first-time-contributor, size/L, status/LGT1, status/can-merge

#110 Docs: add a document for network fault simulation
  docs/simulate-network-chaos-in-physical-nodes.md
Labels: contribution, docs, first-time-contributor, size/XL, status/LGT1, status/can-merge

#108 docs: add run-chaos-experiments-in-serial-or-parallel.md
  docs/run-chaos-experiments-in-serial-or-parallel.md
Labels: contribution, docs, first-time-contributor, size/L, status/LGT1, status/can-merge

#111 docs: add simulate-network-chaos-on-kubernetes.md
  docs/img/networkchaos-exp.png
  docs/simulate-network-chaos-on-kubernetes.md
Labels: contribution, docs, first-time-contributor, size/L, status/LGT1, status/can-merge

#103 docs: add a document for HTTP faults
  docs/simulate-http-chaos-on-kubernetes.md
Labels: contribution, docs, first-time-contributor, size/L, status/LGT1, status/can-merge

#112 Replace broken character with colon character
  docs/simulate-http-chaos-on-kubernetes.md
Labels: contribution, docs, first-time-contributor, size/XS, status/LGT1, status/can-merge

#113 docs: add upgrade to Chaos Mesh 2.0
  docs/upgrade-to-2.0.md
Labels: docs, first-time-contributor, size/M, status/LGT1, status/can-merge

#115 upload-chaos-mesh-100th-contributor-blog
  blog/2021-08-05-chaos-mesh-celebrates-100-contributors.md
  static/img/chaos-mesh-all-contributors.jpeg
  static/img/chaos-mesh-celebrates-100-contributors.png
Labels: size/M

#114 Fix documentation typos, broken links and formatting
  blog/2020-01-15-chaos-mesh-your-chaos-engineering-solution.md
  docs/configure-enabled-namespace.md
  docs/simulate-heavy-stress-in-physical-nodes.md
  docs/simulate-heavy-stress-on-kubernetes.md
  docs/simulate-http-chaos-on-kubernetes.md
  docs/simulate-io-chaos-on-kubernetes.md
  docs/simulate-jvm-application-chaos.md
  docs/simulate-network-chaos-in-physical-nodes.md
  docs/simulate-network-chaos-on-kubernetes.md
  docs/simulate-pod-chaos-on-kubernetes.md
  docs/simulate-process-chaos-in-physical-nodes.md
  versioned_docs/version-2.0.0/configure-enabled-namespace.md
  versioned_docs/version-2.0.0/simulate-disk-pressure-in-physical-nodes.md
  versioned_docs/version-2.0.0/simulate-heavy-stress-in-physical-nodes.md
  versioned_docs/version-2.0.0/simulate-heavy-stress-on-kubernetes.md
  versioned_docs/version-2.0.0/simulate-http-chaos-on-kubernetes.md
  versioned_docs/version-2.0.0/simulate-io-chaos-on-kubernetes.md
  versioned_docs/version-2.0.0/simulate-network-chaos-in-physical-nodes.md
  versioned_docs/version-2.0.0/simulate-network-chaos-on-kubernetes.md
  versioned_docs/version-2.0.0/simulate-pod-chaos-on-kubernetes.md
  versioned_docs/version-2.0.0/simulate-process-chaos-in-physical-nodes.md
Labels: status/LGT1, do-not-merge/blocked-paths, contribution, docs, size/L, translation/no-need

#116 docs: add a document of inspect chaos experiment and revise a typo in other document
  docs/img/chaos_detail_status.png
  docs/img/list_chaos_status.png
  docs/inspect-chaos-experiments.md
  docs/simulate-aws-chaos.md
Labels: status/LGT1, first-time-contributor, docs, translation/from-website-zh, status/can-merge, size/L

#118 docs: add developer guide overview.md
  docs/add-new-chaos-experiment-type.md
  docs/configure-development-environment.md
  docs/developer-guide-overview.md
  docs/extend-chaos-daemon-interface.md
  docs/extend-chaosd.md
  sidebars.js
  versioned_docs/version-2.0.0/add-new-chaos-experiment-type.md
  versioned_docs/version-2.0.0/configure-development-environment.md
  versioned_docs/version-2.0.0/developer-guide-overview.md
  versioned_docs/version-2.0.0/extend-chaos-daemon-interface.md
  versioned_docs/version-2.0.0/extend-chaosd.md
  versioned_sidebars/version-2.0.0-sidebars.json
Labels: status/LGT1, do-not-merge/blocked-paths, docs, size/S

#121 dcos: add: Configure the Development Environment.md
  docs/configure-development-environment.md
Labels: status/LGT1, docs, status/can-merge, size/L

#119 docs: add a document "integrate Chaos Mesh to GitHub Actions"
  docs/img/chaos-mesh-action-integrate-in-the-ci-workflow.png
  docs/img/creating-a-workflow.png
  docs/integrate-chaos-mesh-into-github-actions.md
Labels: status/LGT1, do-not-merge/blocked-paths, first-time-contributor, docs, translation/from-website-zh, size/L, status/require-change

#123 blog: upload-chaos-mesh-2.0-announcement
  blog/2021-08-13-chaos-mesh-2.0-to-a-chaos-engineering-ecology.md
  static/img/chaos-dashboard-schedule-2.0.png
  static/img/chaos-mesh-2.0-ga.png
  static/img/chaos-mesh-scheduling-2.0.png
  static/img/chaos-mesh-workflow-2.0.png
Labels: size/M

#122 blog: update-argo-article
  blog/2020-08-14-building_automated_testing_framework.md
Labels: status/LGT1, size/XS, status/can-merge, translation/no-need

#120 docs: add a doc "simulate GCP faults"
  docs/img/create-gcp-chaos-on-dashborad-2.png
  docs/img/create-gcp-chaos-on-dashborad-3.png
  docs/img/create-gcp-chaos-on-dashborad-4.png
  docs/img/create-pod-chaos-on-dashborad-1.png
  docs/simulate-gcp-chaos.md
Labels: status/LGT1, first-time-contributor, docs, translation/from-website-zh, status/can-merge, size/L

#126 blog: upload-apisix-article
  blog/2021-08-05-chaos-mesh-celebrates-100-contributors.md
  blog/2021-08-20-chaos-mesh-apisix.md
  static/img/apache-apisix-architecture.jpg
  static/img/chaos-mesh-apisix.jpeg
  static/img/error-reported-from-etcd-node-interaction.jpg
  static/img/high-network-latency-between-etcd-and-apache-apisix.jpg
Labels: status/LGT1, status/can-merge, size/L

#117 docs: add chaosctl
  docs/chaosctl-tool.md
Labels: status/LGT1, first-time-contributor, docs, translation/from-website-zh, status/can-merge, size/M

#127 add an annotation about client/HTTPS supports for docs of HTTPChaos
  docs/simulate-http-chaos-on-kubernetes.md
Labels: status/LGT1, size/XS, docs, translation/from-website-zh, status/can-merge
