Repository chaos-mesh/website, pull requests merged in 2021-11, with the labels that each got.

#160 chores: remove registered trademark symbol
  blog/2020-07-28-chaos-mesh-join-cncf-sandbox-project.md
  blog/2020-08-14-building_automated_testing_framework.md
  blog/2020-9-25-chaos-mesh-1.0-chaos-engineering-on-kubernetes-made-easier.md
  blog/2021-06-25-chaos-mesh-remake-one-step-closer-toward-chaos-as-a-service.md
  blog/2021-07-07-restrict-authorization.md
  blog/2021-07-09-chaos-mesh-q&a.md
  blog/2021-08-05-chaos-mesh-celebrates-100-contributors.md
  blog/2021-08-20-chaos-mesh-apisix.md
  blog/2021-09-15-run-chaos-experiments-on-physical-machines.md
  docusaurus.config.js
  i18n/zh/docusaurus-theme-classic/footer.json
  i18n/zh/docusaurus-theme-classic/navbar.json
  src/pages/index.js
Labels: status/LGT1, size/M

#157 chore: disable update temporally
  docs/img/configuration.png
  docs/run-a-chaos-experiment.md
  i18n/zh/docusaurus-plugin-content-docs/current/img/configuration_zh.png
  i18n/zh/docusaurus-plugin-content-docs/current/run-a-chaos-experiment.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.3/img/configuration_zh.png
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.3/run-a-chaos-experiment.md
  versioned_docs/version-2.0.3/run-a-chaos-experiment.md
Labels: status/LGT1, translation/done, status/can-merge, size/L, docs

#159 Add doc of time skew on physical nodes
  docs/simulate-time-chaos-on-physical-nodes.md
  sidebars.js
Labels: status/LGT1, status/can-merge, size/M, docs

#164 Update configure-development-environment.md
  docs/configure-development-environment.md
  i18n/zh/docusaurus-plugin-content-docs/current/configure-development-environment.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.4/configure-development-environment.md
  versioned_docs/version-2.0.4/configure-development-environment.md
Labels: status/LGT1, contribution, first-time-contributor, status/can-merge, size/M, docs

#167 Fix ContianerRecordDecoder typo
  docs/add-new-chaos-experiment-type.md
  docs/extend-chaos-daemon-interface.md
  i18n/zh/docusaurus-plugin-content-docs/current/add-new-chaos-experiment-type.md
  i18n/zh/docusaurus-plugin-content-docs/current/extend-chaos-daemon-interface.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.4/add-new-chaos-experiment-type.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.4/extend-chaos-daemon-interface.md
  versioned_docs/version-2.0.4/add-new-chaos-experiment-type.md
  versioned_docs/version-2.0.4/extend-chaos-daemon-interface.md
Labels: status/LGT1, contribution, first-time-contributor, translation/doing, status/can-merge, size/M, docs

#163 chore: add notes about leader-election
  docs/common/verify-installation.md
  docs/production-installation-using-helm.md
  i18n/zh/docusaurus-plugin-content-docs/current/common/verify-installation.md
  i18n/zh/docusaurus-plugin-content-docs/current/production-installation-using-helm.md
Labels: status/LGT1, translation/done, status/can-merge, size/M, docs

#172 fix(docs): incorrect command to download charts
  docs/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/current/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.4/offline-installation.md
  versioned_docs/version-2.0.4/offline-installation.md
Labels: status/LGT1, contribution, first-time-contributor, size/XS, status/can-merge, docs

#161 document: add document for PhysicalMachineChaos and chaosd server mode
  docs/chaosd-search-recover.md
  docs/simulate-network-chaos-in-physical-nodes.md
  docs/simulate-physical-machine-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/current/chaosd-search-recover.md
  i18n/zh/docusaurus-plugin-content-docs/current/img/physicalmachinechaos-exp-info.png
  i18n/zh/docusaurus-plugin-content-docs/current/img/physicalmachinechaos-exp.png
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-disk-pressure-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-dns-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-heavy-stress-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-jvm-application-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-network-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-network-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-physical-machine-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-process-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.4/simulate-disk-pressure-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.4/simulate-dns-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.4/simulate-network-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.4/simulate-network-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.4/simulate-process-chaos-in-physical-nodes.md
  sidebars.js
  versioned_docs/version-2.0.4/simulate-network-chaos-in-physical-nodes.md
Labels: status/LGT1, translation/doing, size/XXL, status/can-merge, docs

#156 feat: new doc supported-releases
  docs/supported-releases.md
  i18n/zh/docusaurus-plugin-content-docs/current/supported-releases.md
  sidebars.js
Labels: status/LGT1, translation/done, status/can-merge, size/L, docs

#170 document: add document about gcp authentication
  docs/gcp-authentication.md
  docs/img/google-auth.png
  i18n/zh/docusaurus-plugin-content-docs/current.json
  i18n/zh/docusaurus-plugin-content-docs/current/gcp-authentication.md
  i18n/zh/docusaurus-plugin-content-docs/current/img/google-auth.png
  sidebars.js
Labels: status/LGT1, translation/done, status/can-merge, size/L, docs

#169 chore: update faq
  docs/faqs.md
  i18n/zh/docusaurus-plugin-content-docs/current/faqs.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/faqs.md
  versioned_docs/version-2.0.5/faqs.md
Labels: status/LGT1, do-not-merge/blocked-paths, translation/doing, size/L, type/enhancement, docs

#168 add dashboard usage guide for HTTPChaos; fix some wrong contents
  i18n/zh/docusaurus-plugin-content-docs/current/img/create-new-httpchaos.png
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-http-chaos-on-kubernetes.md
Labels: status/LGT1, translation/doing, status/can-merge, size/S, docs

#176 update images for offline installation
  docs/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/current/offline-installation.md
Labels: status/LGT1, status/can-merge, size/M, docs

#175 docs: descriptions about externalTarget in NetworkChaos
  docs/simulate-network-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-network-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/simulate-network-chaos-on-kubernetes.md
  versioned_docs/version-2.0.5/simulate-network-chaos-on-kubernetes.md
Labels: status/LGT1, size/XS, status/can-merge, docs

#165 update JVMChaos document
  i18n/zh/docusaurus-plugin-content-docs/current/img/jvmchaos-exp.png
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-jvm-application-chaos.md
Labels: status/LGT1, translation/doing, status/can-merge, size/L, docs

#178 chaosd document: fix config && add clock for server mode
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-disk-pressure-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-network-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-physical-machine-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-time-chaos-on-physical-nodes.md
Labels: status/LGT1, translation/doing, status/can-merge, size/M, docs

#173 chore: add docs about send http request on worklfow
  docs/img/configure-http-request-workflow-node.png
  docs/img/create-http-request-workflow-node.png
  docs/img/http-request-task-node-preview.png
  docs/send-http-request-on-workflow.md
  i18n/zh/docusaurus-plugin-content-docs/current/img/configure-http-request-workflow-node_zh.png
  i18n/zh/docusaurus-plugin-content-docs/current/img/create-http-request-workflow-node_zh.png
  i18n/zh/docusaurus-plugin-content-docs/current/img/http-request-task-node-preview.png
  i18n/zh/docusaurus-plugin-content-docs/current/send-http-request-on-workflow.md
  sidebars.js
Labels: status/LGT1, translation/done, status/can-merge, size/L, docs

#177 chore: update note for time chaos
  docs/simulate-time-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-time-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/simulate-time-chaos-on-kubernetes.md
  versioned_docs/version-2.0.5/simulate-time-chaos-on-kubernetes.md
Labels: status/LGT1, translation/done, status/can-merge, size/S, docs

#179 document: add the version mapping between Chaosd and Chaos Mesh
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-physical-machine-chaos.md
Labels: status/LGT1, size/XS, translation/doing, status/can-merge, docs
