Repository chaos-mesh/website, pull requests merged in 2021-09, with the labels that each got.

#129 add faq for gcp authorization
  docs/faqs.md
  versioned_docs/version-2.0.1/faqs.md
Labels: status/LGT1, status/can-merge, size/L, requires-followup

#130 docs: fix command in doc 'simulate process chaos in physical node'
  docs/simulate-process-chaos-in-physical-nodes.md
Labels: status/LGT1, first-time-contributor, size/XS, translation/doing, docs, status/can-merge

#131 update networkchaos dos and fix typo
  docs/run-a-chaos-experiment.md
  docs/simulate-network-chaos-on-kubernetes.md
  versioned_docs/version-2.0.1/run-a-chaos-experiment.md
  versioned_docs/version-2.0.1/simulate-network-chaos-on-kubernetes.md
Labels: status/LGT1, do-not-merge/blocked-paths, docs, size/S

#133 chore: upload chaosd blog
  blog/2021-09-15-run-chaos-experiments-on-physical-machines.md
  static/img/chaos-mesh-optimized-architecture.png
  static/img/chaosd-banner.png
Labels: status/LGT1, size/L, translation/no-need

#134 add version to helm install / helm upgrade
  docs/add-new-chaos-experiment-type.md
  docs/configure-enabled-namespace.md
  docs/extend-chaos-daemon-interface.md
  docs/faqs.md
  docs/manage-user-permissions.md
  docs/offline-installation.md
  docs/production-installation-using-helm.md
  docs/simulate-dns-chaos-on-kubernetes.md
  src/components/PickHelmVersion.jsx
  versioned_docs/version-0.9.1/development_guides/dev_hello_world.md
  versioned_docs/version-0.9.1/installation/installation.md
  versioned_docs/version-0.9.1/user_guides/run_chaos_experiment.md
  versioned_docs/version-1.0.3/development_guides/dev_hello_world.md
  versioned_docs/version-1.0.3/user_guides/installation.md
  versioned_docs/version-1.0.3/user_guides/run_chaos_experiment.md
  versioned_docs/version-1.1.4/chaos_experiments/dns_chaos.md
  versioned_docs/version-1.1.4/development_guides/dev_hello_world.md
  versioned_docs/version-1.1.4/user_guides/dashboard.md
  versioned_docs/version-1.1.4/user_guides/installation.md
  versioned_docs/version-1.1.4/user_guides/run_chaos_experiment.md
  versioned_docs/version-1.2.3/chaos_experiments/dns_chaos.md
  versioned_docs/version-1.2.3/development_guides/dev_hello_world.md
  versioned_docs/version-1.2.3/user_guides/dashboard.md
  versioned_docs/version-1.2.3/user_guides/installation.md
  versioned_docs/version-1.2.3/user_guides/offline_installation.md
  versioned_docs/version-1.2.3/user_guides/run_chaos_experiment.md
  versioned_docs/version-2.0.1/add-new-chaos-experiment-type.md
  versioned_docs/version-2.0.1/configure-enabled-namespace.md
  versioned_docs/version-2.0.1/extend-chaos-daemon-interface.md
  versioned_docs/version-2.0.1/faqs.md
  versioned_docs/version-2.0.1/manage-user-permissions.md
  versioned_docs/version-2.0.1/offline-installation.md
  versioned_docs/version-2.0.1/production-installation-using-helm.md
  versioned_docs/version-2.0.1/simulate-dns-chaos-on-kubernetes.md
Labels: status/LGT1, do-not-merge/blocked-paths, size/XL, docs

#132 fix: mention of scenario
  docs/basic-features.md
Labels: status/LGT1, do-not-merge/blocked-paths, contribution, first-time-contributor, docs, size/S
