Repository chaos-mesh/website, pull requests merged in 2021-07, with the labels that each got.

#73 Add new blog how-to-efficiently-stress-test-pod-memory
  blog/2021-mm-dd-how-to-efficiently-stress-test-pod-memory.md
  static/img/how-to-efficiently-stress-test-pod-memory-banner.jpg
Labels: contribution, first-time-contributor, size/L

#75 docs: add chaosd overview
  docs/chaosd-overview.md
Labels: do-not-merge/blocked-paths, docs, first-time-contributor, size/M, status/LGT1

#74 Blog post on restrict authorization
  blog/2021-07-07-restrict-authorization.md
  static/img/chaos-mesh-restrict-authorization.jpeg
Labels: contribution, first-time-contributor, size/M, status/LGT1

#82 docs: add offline-installation.md
  docs/offline-installation.md
Labels: do-not-merge/blocked-paths, docs, first-time-contributor, size/L

#81 docs: add helm-installation
  docs/common/quick-run.md
  docs/common/verify-installation.md
  docs/production-installation-using-helm.md
  docs/quick-start.md
  sidebars.js
Labels: do-not-merge/blocked-paths, docs, first-time-contributor, size/L

#79 upload-chaos-mesh-q&a
  blog/2021-06-20-lfx-mentorship-enriching-awschaos.md
  blog/2021-07-01-how-to-efficiently-stress-test-pod-memory.md
  blog/2021-07-07-restrict-authorization.md
  blog/2021-07-09-chaos-mesh-q&a.md
  static/img/chaos-mesh-linkerd-architecture.png
  static/img/chaos-mesh-q&a.jpeg
Labels: contribution, size/M, status/LGT1

#80 docs: add manage roles doc
  docs/img/dashboard_login1.png
  docs/img/dashboard_login2.png
  docs/img/token_helper.png
  docs/img/token_manager.png
  docs/manage-roles.md
Labels: docs, first-time-contributor, size/L, status/LGT1, status/PTAL, status/can-merge

#87 chores: remove unnecessary line in the QA post
  blog/2021-07-09-chaos-mesh-q&a.md
Labels: contribution, size/XS, status/LGT1, status/can-merge

#89 docs: define the scope of Chaos Experiment
  docs/define-chaos-experiment-scope.md
  docs/img/dashboard_selectors_en.png
Labels: do-not-merge/blocked-paths, docs, size/L, status/LGT1

#88 Add basic-feature.md
  docs/basic-features.md
  docs/img/dashboard-overview.png
Labels: do-not-merge/blocked-paths, docs, size/M, status/LGT1

#76 Update integrate-chaos-engineering-into-your-ci
  blog/2020-9-18-chaos-mesh-action-integrate-chaos-engineering-into-your-ci.md
Labels: size/XS, status/LGT1

#86 docs: add run chaos experiments doc
  docs/img/archive.png
  docs/img/configuration.png
  docs/img/pause.png
  docs/img/restart.png
  docs/manage-roles.md
  docs/run-a-chaos-experiment.md
Labels: do-not-merge/blocked-paths, docs, first-time-contributor, size/L, status/PTAL

#58 add notes for PKS k8s cluster installations
  docs/user_guides/installation.md
Labels: contribution, do-not-merge/blocked-paths, docs, first-time-contributor, size/XS, status/LGT1, status/can-merge

#67 docs: add overview document
  docs/overview.md
Labels: contribution, do-not-merge/blocked-paths, docs, first-time-contributor, size/M

#90 add document for TimeChaos
  docs/img/create-new-exp.png
  docs/img/exp-info.png
  docs/img/timechaos-exp.png
  docs/simulate-time-chaos-on-kubernetes.md
Labels: do-not-merge/blocked-paths, docs, size/M, status/LGT1

#99 add Simulate Host Faults and update chaosd overview
  docs/chaosd-overview.md
  docs/simulate-host-console-in-physical-nodes.md
  sidebars.js
Labels: docs, size/M, status/LGT1, status/can-merge

#96 docs: add simulate-dns-chaos-on-kubernetes.md
  docs/img/dnschaos-exp.png
  docs/simulate-dns-chaos-on-kubernetes.md
Labels: contribution, docs, first-time-contributor, size/L, status/LGT1, status/can-merge

#85 docs: add inspect chaos mesh workflow doc
  docs/inspect-chaos-mesh-workflow.md
Labels: docs, first-time-contributor, size/M, status/LGT1, status/PTAL, status/can-merge

#98 Add 2 docs
  docs/create-chaos-mesh-workflow.md
  docs/simulate-kernel-chaos-on-kubernetes.md
Labels: docs, size/XL, status/LGT1, status/can-merge

#95 docs: add simulate heavy stress on kubernetes.md
  docs/img/stresschaos-exp.png
  docs/simulate-heavy-stress-on-kubernetes.md
Labels: contribution, docs, first-time-contributor, size/L, status/LGT1, status/can-merge

#97 docs: add define-scheduling-rules.md
  docs/define-scheduling-rules.md
  docs/img/create-new-schedule.png
  docs/img/define-schedule-inner-resource.png
  docs/img/define-schedule-spec.png
Labels: contribution, docs, first-time-contributor, size/L, status/LGT1, status/can-merge

#104 docs: add  simulate-io-chaos-on-kubernetes.md
  docs/img/iochaos-exp.png
  docs/simulate-io-chaos-on-kubernetes.md
Labels: contribution, docs, first-time-contributor, size/XL, status/LGT1, status/can-merge

#100 docs: add configure enabled namespaces.md
  docs/configure-enabled-namespace.md
Labels: contribution, docs, first-time-contributor, size/M, status/LGT1, status/can-merge

#101 dcos: add simulate JVM application faults.md
  docs/simulate-jvm-application-chaos.md
Labels: contribution, docs, first-time-contributor, size/L, status/LGT1, status/can-merge
