Repository chaos-mesh/website, pull requests merged in 2021-12, with the labels that each got.

#174 docs: add use-grafana
  docs/img/grafana/annotations.png
  docs/img/grafana/settings.png
  docs/img/grafana/variables.png
  docs/offline-installation.md
  docs/simulate-disk-pressure-in-physical-nodes.md
  docs/simulate-network-chaos-in-physical-nodes.md
  docs/use-grafana-data-source.md
  docs/use-grafana-to-inspect-chaos-experiments.md
  i18n/zh/docusaurus-plugin-content-docs/current/chaosd-search-recover.md
  i18n/zh/docusaurus-plugin-content-docs/current/img/grafana/annotations.png
  i18n/zh/docusaurus-plugin-content-docs/current/img/grafana/settings.png
  i18n/zh/docusaurus-plugin-content-docs/current/img/grafana/variables.png
  i18n/zh/docusaurus-plugin-content-docs/current/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-disk-pressure-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-heavy-stress-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-jvm-application-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-network-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-physical-machine-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-process-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/use-grafana-data-source.md
  i18n/zh/docusaurus-plugin-content-docs/current/use-grafana-to-inspect-chaos-experiments.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/use-grafana-to-inspect-chaos-experiments.md
  sidebars.js
  versioned_docs/version-2.0.5/use-grafana-to-inspect-chaos-experiments.md
Labels: status/LGT1, translation/doing, size/XXL, docs

#180 document: update network config description
  docs/simulate-network-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-network-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/simulate-network-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.0/simulate-network-chaos-on-kubernetes.md
  versioned_docs/version-2.0.5/simulate-network-chaos-on-kubernetes.md
  versioned_docs/version-2.1.0/simulate-network-chaos-on-kubernetes.md
Labels: status/LGT1, status/can-merge, size/L, docs

#182 update offline installation
  docs/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/current/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.0/offline-installation.md
  versioned_docs/version-2.1.0/offline-installation.md
Labels: status/LGT1, status/can-merge, size/S, docs

#185 chore: replace version to branch name
  docs/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/current/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.0/offline-installation.md
  src/components/PickVersion.jsx
  versioned_docs/version-2.0.5/offline-installation.md
  versioned_docs/version-2.1.0/offline-installation.md
Labels: status/LGT1, translation/done, status/can-merge, size/M, docs

#183 docs: add description about crio config in helm
  docs/production-installation-using-helm.md
  i18n/zh/docusaurus-plugin-content-docs/current/production-installation-using-helm.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/production-installation-using-helm.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.0/production-installation-using-helm.md
  versioned_docs/version-2.0.5/production-installation-using-helm.md
  versioned_docs/version-2.1.0/production-installation-using-helm.md
Labels: status/LGT1, translation/done, status/can-merge, size/S, docs

#186 docs: fix helloworldchaos tutorial
  docs/add-new-chaos-experiment-type.md
  i18n/zh/docusaurus-plugin-content-docs/current/add-new-chaos-experiment-type.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/add-new-chaos-experiment-type.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.0/add-new-chaos-experiment-type.md
  versioned_docs/version-2.0.5/add-new-chaos-experiment-type.md
  versioned_docs/version-2.1.0/add-new-chaos-experiment-type.md
Labels: status/LGT1, translation/done, status/can-merge, size/S, docs

#184 docs: use replace to upgrade CRDs
  i18n/zh/docusaurus-plugin-content-docs/current/production-installation-using-helm.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/production-installation-using-helm.md
  versioned_docs/version-2.0.5/production-installation-using-helm.md
  versioned_docs/version-2.1.0/production-installation-using-helm.md
Labels: status/LGT1, size/XS, translation/done, status/can-merge, docs

#187 fix(httpchaos): example value of patch body
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-http-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/simulate-http-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.0/simulate-http-chaos-on-kubernetes.md
Labels: status/LGT1, size/XS, status/can-merge

#181 New Docs: Uninstallation
  docs/uninstallation.md
  i18n/zh/docusaurus-plugin-content-docs/current/uninstallation.md
  sidebars.js
Labels: status/LGT1, size/XL, translation/done, status/can-merge, docs

#195 blog: upload-chaos-engineering-on-k8s
  blog/2021-12-10-implement-chaos-engineering-in-k8s.md
  static/img/chaos-mesh-basic-workflow.png
  static/img/chaos-mesh-dashboard-k8s.png
  static/img/implement-chaos-engineering-in-k8s.png
  static/img/list-request.png
Labels: status/LGT1, size/XXL, status/can-merge, translation/no-need

#193 docs: fix incorrection example
  docs/create-chaos-mesh-workflow.md
  i18n/zh/docusaurus-plugin-content-docs/current/create-chaos-mesh-workflow.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/create-chaos-mesh-workflow.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/create-chaos-mesh-workflow.md
  versioned_docs/version-2.0.5/create-chaos-mesh-workflow.md
  versioned_docs/version-2.1.1/create-chaos-mesh-workflow.md
Labels: status/LGT1, do-not-merge/blocked-paths, translation/done, status/can-merge, size/L, docs

#198 chore: update urls
  docs/create-chaos-mesh-workflow.md
  i18n/zh/docusaurus-plugin-content-docs/current/create-chaos-mesh-workflow.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/create-chaos-mesh-workflow.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/create-chaos-mesh-workflow.md
  versioned_docs/version-2.0.5/create-chaos-mesh-workflow.md
  versioned_docs/version-2.1.1/create-chaos-mesh-workflow.md
Labels: status/LGT1, translation/done, status/can-merge, size/S, docs

#191 docs: about create serial and parallel node on dashboard
  docs/img/create-parallel-node-on-dashboard.png
  docs/img/create-serial-node-on-dashboard.png
  docs/img/nested-serial-and-parallel.png
  docs/run-chaos-experiments-in-serial-or-parallel.md
  i18n/zh/docusaurus-plugin-content-docs/current/img/create-parallel-node-on-dashboard.png
  i18n/zh/docusaurus-plugin-content-docs/current/img/create-serial-node-on-dashboard.png
  i18n/zh/docusaurus-plugin-content-docs/current/img/nested-serial-and-parallel.png
  i18n/zh/docusaurus-plugin-content-docs/current/run-chaos-experiments-in-serial-or-parallel.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/img/create-parallel-node-on-dashboard.png
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/img/create-serial-node-on-dashboard.png
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/img/nested-serial-and-parallel.png
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/run-chaos-experiments-in-serial-or-parallel.md
  versioned_docs/version-2.1.1/img/create-parallel-node-on-dashboard.png
  versioned_docs/version-2.1.1/img/create-serial-node-on-dashboard.png
  versioned_docs/version-2.1.1/img/nested-serial-and-parallel.png
  versioned_docs/version-2.1.1/run-chaos-experiments-in-serial-or-parallel.md
Labels: status/LGT1, translation/done, status/can-merge, size/M, docs

#190 docs: workflow status on dashboard
  docs/check-workflow-status.md
  docs/img/list-workflow-on-dashboard.png
  docs/img/workflow-status-on-dashboard.png
  i18n/zh/docusaurus-plugin-content-docs/current/check-workflow-status.md
  i18n/zh/docusaurus-plugin-content-docs/current/img/list-workflow-on-dashboard.png
  i18n/zh/docusaurus-plugin-content-docs/current/img/workflow-status-on-dashboard.png
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/check-workflow-status.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/img/list-workflow-on-dashboard.png
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/img/workflow-status-on-dashboard.png
  versioned_docs/version-2.1.1/check-workflow-status.md
  versioned_docs/version-2.1.1/img/list-workflow-on-dashboard.png
  versioned_docs/version-2.1.1/img/workflow-status-on-dashboard.png
Labels: status/LGT1, do-not-merge/blocked-paths, translation/done, status/can-merge, size/M, docs

#196 docs: add new 2.1 English docs and revise Chinese docs
  docs/img/physicalmachinechaos-exp-info.png
  docs/img/physicalmachinechaos-exp.png
  docs/simulate-jvm-application-chaos-in-physical-nodes.md
  docs/simulate-physical-machine-chaos.md
  docs/simulate-time-chaos-on-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-disk-pressure-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-heavy-stress-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-jvm-application-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-network-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-physical-machine-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-process-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-time-chaos-on-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/simulate-disk-pressure-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/simulate-heavy-stress-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/simulate-jvm-application-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/simulate-network-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/simulate-physical-machine-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/simulate-process-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/simulate-time-chaos-on-physical-nodes.md
  versioned_docs/version-2.1.1/img/physicalmachinechaos-exp-info.png
  versioned_docs/version-2.1.1/img/physicalmachinechaos-exp.png
  versioned_docs/version-2.1.1/simulate-jvm-application-chaos-in-physical-nodes.md
  versioned_docs/version-2.1.1/simulate-physical-machine-chaos.md
  versioned_docs/version-2.1.1/simulate-time-chaos-on-physical-nodes.md
Labels: status/LGT1, translation/done, size/XXL, status/can-merge, requires-followup, docs

#197 chore: update uninstallation on 2.1.1
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/uninstallation.md
  versioned_docs/version-2.1.1/uninstallation.md
  versioned_sidebars/version-2.1.1-sidebars.json
Labels: status/LGT1, size/XL, translation/done, requires-followup

#199 blog: upload chaos mesh x skywalking
  blog/2021-12-16-chaos-mesh-skywalking.md
  static/img/chaos-dashboard-stresschaos.png
  static/img/chaos-mesh-skywalking-banner.png
  static/img/cpuload-1.png
  static/img/cpuload-2.png
  static/img/cpuload-3.png
  static/img/jmeter-1.png
  static/img/jmeter-2.png
  static/img/skywalking-dashboard.png
Labels: status/LGT1, status/can-merge, size/L, translation/no-need

#202 blog: upload deploy chaos mesh on kubesphere blog
  blog/2021-12-22-deploy-chaos-mesh-on-kubesphere.md
  static/img/chaos-dashboard-networkchaos.png
  static/img/chaos-experiment-scope.png
  static/img/chaos-mesh-app.png
  static/img/chaos-mesh-architecture-2.0.png
  static/img/chaos-mesh-basic-info.png
  static/img/chaos-mesh-config.png
  static/img/chaos-mesh-deployed.png
  static/img/chaos-mesh-kubesphere-banner.png
  static/img/chaos-mesh-nodeport.png
  static/img/experiment-result.png
  static/img/install-chaos-mesh.png
  static/img/login-to-dashboard.png
  static/img/start-chaos-experiment.png
  static/img/web-show-app.png
Labels: status/LGT1, status/can-merge, size/L

#201 docs: Simulate JVM Application Faults
  docs/img/jvmchaos-exp.png
  docs/simulate-jvm-application-chaos-in-physical-nodes.md
  docs/simulate-jvm-application-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-jvm-application-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/simulate-jvm-application-chaos.md
  versioned_docs/version-2.1.1/img/jvmchaos-exp.png
  versioned_docs/version-2.1.1/simulate-jvm-application-chaos-in-physical-nodes.md
  versioned_docs/version-2.1.1/simulate-jvm-application-chaos.md
Labels: status/LGT1, translation/from-zh, size/XXL, status/can-merge, docs

#206 add document for device field in networkchaos
  docs/simulate-network-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-network-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/simulate-network-chaos-on-kubernetes.md
  versioned_docs/version-2.1.1/simulate-network-chaos-on-kubernetes.md
Labels: status/LGT1, size/XS, translation/done, status/can-merge, docs

#188 chore: faq about installation on kubernetes 1.15
  docs/faqs.md
  docs/offline-installation.md
  docs/production-installation-using-helm.md
  i18n/zh/docusaurus-plugin-content-docs/current/faqs.md
  i18n/zh/docusaurus-plugin-content-docs/current/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/current/production-installation-using-helm.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/faqs.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.5/production-installation-using-helm.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/faqs.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/production-installation-using-helm.md
  versioned_docs/version-2.0.5/faqs.md
  versioned_docs/version-2.0.5/offline-installation.md
  versioned_docs/version-2.0.5/production-installation-using-helm.md
  versioned_docs/version-2.1.1/faqs.md
  versioned_docs/version-2.1.1/offline-installation.md
  versioned_docs/version-2.1.1/production-installation-using-helm.md
Labels: status/LGT1, status/can-merge, size/L, requires-followup, docs

#212 chore: update supported versions
  docs/supported-releases.md
  i18n/zh/docusaurus-plugin-content-docs/current/supported-releases.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/supported-releases.md
  versioned_docs/version-2.1.1/supported-releases.md
Labels: status/LGT1, translation/done, status/can-merge, size/M, docs

#213 blog: upload-chaos-mesh-2yr-event-blog
  blog/2021-12-27-chaos-mesh-story.md
  static/img/chaos-mesh-story.jpeg
Labels: status/LGT1, size/M, translation/no-need

#214 chores: edit chaos mesh 2yr-event blog
  blog/2021-12-27-chaos-mesh-story.md
Labels: status/LGT1, size/XS

#203 docs: Search and Recover Experiments of Chaosd
  docs/chaosd-search-recover.md
  i18n/zh/docusaurus-plugin-content-docs/current/chaosd-search-recover.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.1/chaosd-search-recover.md
  versioned_docs/version-2.1.1/chaosd-search-recover.md
Labels: status/LGT1, size/XL, translation/from-zh, status/PTAL, status/can-merge, docs

#204 docs: Simulate HTTP faults
  docs/img/create-new-httpchaos.png
  docs/simulate-http-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-http-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-http-chaos-on-kubernetes.md
  versioned_docs/version-2.1.2/img/create-new-httpchaos.png
  versioned_docs/version-2.1.2/simulate-http-chaos-on-kubernetes.md
Labels: status/LGT1, translation/from-zh, size/XXL, status/PTAL, status/can-merge, docs

#205 docs: Simulate Stress Scenarios and some others
  docs/simulate-heavy-stress-in-physical-nodes.md
  docs/simulate-jvm-application-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-disk-pressure-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-heavy-stress-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-jvm-application-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-physical-machine-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-disk-pressure-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-heavy-stress-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-jvm-application-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-physical-machine-chaos.md
  versioned_docs/version-2.1.2/simulate-heavy-stress-in-physical-nodes.md
  versioned_docs/version-2.1.2/simulate-jvm-application-chaos-in-physical-nodes.md
Labels: status/LGT1, translation/from-zh, size/XXL, status/PTAL, status/can-merge, docs
