Repository chaos-mesh/website, pull requests merged in 2022-01, with the labels that each got.

#209 docs: Simulate Process Faults, Simulate DNS Faults
  docs/simulate-dns-chaos-on-kubernetes.md
  docs/simulate-process-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-dns-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-process-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.6/simulate-dns-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.6/simulate-process-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-dns-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-process-chaos-in-physical-nodes.md
  versioned_docs/version-2.0.6/simulate-dns-chaos-on-kubernetes.md
  versioned_docs/version-2.0.6/simulate-process-chaos-in-physical-nodes.md
  versioned_docs/version-2.1.2/simulate-dns-chaos-on-kubernetes.md
  versioned_docs/version-2.1.2/simulate-process-chaos-in-physical-nodes.md
Labels: status/LGT1, translation/done, size/XXL, status/can-merge, docs

#219 fix(docs): admonitions format
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-io-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-jvm-application-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-kernel-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.6/simulate-kernel-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-heavy-stress-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-io-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-jvm-application-chaos-in-physical-nodes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-kernel-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-network-chaos-in-physical-nodes.md
  versioned_docs/version-2.1.2/simulate-network-chaos-in-physical-nodes.md
Labels: status/LGT1, status/can-merge, size/M

#218 fix container selector documents
  versioned_docs/version-0.9.1/user_guides/timechaos.md
  versioned_docs/version-1.0.3/chaos_experiments/timechaos.md
  versioned_docs/version-1.1.4/chaos_experiments/timechaos.md
  versioned_docs/version-1.2.4/chaos_experiments/timechaos.md
Labels: status/LGT1, size/XS, status/can-merge

#222 blog: develop a daily reporting system for chaos mesh
  blog/2022-01-11-develop-a-daily-reporting-system.md
  static/img/chaos-mesh-digitalchina-banner.png
  static/img/daily-report-pdf.png
  static/img/qps-line-graph.png
  static/img/web-app-for-daily-reporting.png
Labels: status/LGT1, size/L, translation/no-need

#217 fix network bandwidth limitation description
  docs/simulate-network-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-network-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.6/simulate-network-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-network-chaos-on-kubernetes.md
  versioned_docs/version-2.0.6/simulate-network-chaos-on-kubernetes.md
  versioned_docs/version-2.1.2/simulate-network-chaos-on-kubernetes.md
Labels: status/LGT1, status/can-merge, size/S, docs

#207 update docs of http chaos for v2.0.5; fix some wrong contents
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.6/simulate-http-chaos-on-kubernetes.md
  versioned_docs/version-2.0.6/simulate-http-chaos-on-kubernetes.md
Labels: status/LGT1, translation/done, status/can-merge, size/M, docs

#216 document: some minor fix/update
  blog/2021-09-15-run-chaos-experiments-on-physical-machines.md
  docs/chaosd-overview.md
  docs/offline-installation.md
  docs/simulate-jvm-application-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/current/chaosd-overview.md
  i18n/zh/docusaurus-plugin-content-docs/current/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-jvm-application-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.6/chaosd-overview.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.6/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/chaosd-overview.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/offline-installation.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-jvm-application-chaos.md
  versioned_docs/version-2.0.6/chaosd-overview.md
  versioned_docs/version-2.0.6/offline-installation.md
  versioned_docs/version-2.1.2/chaosd-overview.md
  versioned_docs/version-2.1.2/offline-installation.md
  versioned_docs/version-2.1.2/simulate-jvm-application-chaos.md
Labels: status/LGT1, translation/done, status/PTAL, status/can-merge, size/M, docs

#221 chores: update chaos mesh project status
  docs/overview.md
  i18n/zh/docusaurus-plugin-content-docs/current/overview.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.6/overview.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/overview.md
  versioned_docs/version-2.0.6/overview.md
  versioned_docs/version-2.1.2/overview.md
Labels: status/LGT1, translation/done, status/can-merge, size/S, docs

#215 docs: Physical machine auth
  docs/chaosctl-tool.md
  docs/define-chaos-experiment-scope.md
  docs/simulate-physical-machine-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/current/chaosctl-tool.md
  i18n/zh/docusaurus-plugin-content-docs/current/define-chaos-experiment-scope.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-physical-machine-chaos.md
Labels: status/LGT1, size/XL, translation/done, status/can-merge, docs

#225 blog: Experience as an LFX Mentee for Chaos Mesh
  blog/2022-01-14-experience-as-an-lfx-mentee-for-chaos-mesh.md
  static/img/lfx-mentee-experience-banner.png
  static/img/lfx-mentee-experience-mentors-lgtm.png
  static/img/lfx-mentee-experience-rd-doc.png
  static/img/lfx-mentee-experience-thinking-critically.png
  static/img/lfx-mentee-experience-tracking-issue.png
Labels: contribution, first-time-contributor, size/M

#228 chore: format note
  docs/simulate-network-chaos-in-physical-nodes.md
  docs/simulate-time-chaos-on-kubernetes.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-heavy-stress-in-physical-nodes.md
  versioned_docs/version-2.0.6/simulate-time-chaos-on-kubernetes.md
  versioned_docs/version-2.1.2/simulate-time-chaos-on-kubernetes.md
Labels: do-not-merge/blocked-paths, size/S, docs

#229 docs: add docs link for gcp sercvice account key
  docs/simulate-gcp-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-gcp-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.6/simulate-gcp-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/simulate-gcp-chaos.md
  versioned_docs/version-2.0.6/simulate-gcp-chaos.md
  versioned_docs/version-2.1.2/simulate-gcp-chaos.md
Labels: status/LGT1, translation/doing, status/can-merge, size/S, docs

#230 add a new doc: 10 minutes guide
  docs/img/quick-start-chaos-mesh-dashboard.png
  docs/img/quick-start-experiment-information.png
  docs/img/quick-start-fill-in-info.png
  docs/img/quick-start-new-experiment-dashboard.png
  docs/img/quick-start-report-error.png
  docs/img/quick-start-select-cpu.png
  docs/img/quick-start-select-experiment-on-dashboard.png
  docs/img/quick-start-select-experiment-type.png
  docs/img/quick-start-select-fault-behavior.png
  docs/img/quick-start-select-request-abort.png
  docs/img/quick-start-stress-test.png
  docs/img/quick-start-test-application-architecture.png
  docs/img/quick-start-two-pods-for-sql-queries.png
  docs/img/quick-start-write-address.png
  docs/the-guide-to-chaos-mesh-v21.md
  i18n/zh/docusaurus-plugin-content-docs/current/the-guide-to-chaos-mesh-v21.md
  sidebars.js
Labels: status/LGT1, size/XL, translation/from-zh, status/can-merge, docs

#234 chores: update project info in versioned docs
  versioned_docs/version-2.0.6/overview.md
  versioned_docs/version-2.1.2/overview.md
Labels: status/LGT1, do-not-merge/blocked-paths, size/S, docs

#237 chore: update docs of add a new type chaos
  docs/add-new-chaos-experiment-type.md
  i18n/zh/docusaurus-plugin-content-docs/current/add-new-chaos-experiment-type.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.6/add-new-chaos-experiment-type.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.2/add-new-chaos-experiment-type.md
  versioned_docs/version-2.0.6/add-new-chaos-experiment-type.md
  versioned_docs/version-2.1.2/add-new-chaos-experiment-type.md
Labels: status/LGT1, do-not-merge/blocked-paths, status/PTAL, docs

#236 chores: remove corner sign
  blog/2020-04-20-simulating-clock-skew-in-k8s-without-affecting-other-containers-on-node.md
Labels: status/LGT1, size/XS, status/can-merge, translation/no-need

#238 chore: update gcpchaos field description
  docs/simulate-gcp-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/current/simulate-gcp-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.0.7/simulate-gcp-chaos.md
  i18n/zh/docusaurus-plugin-content-docs/version-2.1.3/simulate-gcp-chaos.md
  versioned_docs/version-2.0.7/simulate-gcp-chaos.md
  versioned_docs/version-2.1.3/simulate-gcp-chaos.md
Labels: status/LGT1, do-not-merge/blocked-paths, translation/done, status/PTAL, size/S, docs
